.header {
width: 100%;
  text-decoration: none;
  display: inline-block;
  margin-top: .5rem;
  padding-left: 10px;
  color: #00bc8c;
}

.header-left{
}

.header-right{
}

.header ul{

  text-decoration: none;
  display: inline-block;
}

.header ul li {

  text-decoration: none;
  display: inline-block;

  margin: auto;
  padding: .5rem 1rem;
  border-radius: 3px;
  color: #00bc8c;
}

.header ul li:hover {
  background-color: #444;
}

.header-item{
    margin: 0 auto;;
    font-size: 16pt;
    color: #00bc8c;
    text-decoration: none;
}
.header-item.active{
  outline:none;
    font-size: 24pt;
    color: #00bc8d;
    text-decoration: none;
}



.header-main{

    font-size: 28pt;
    color: #00bc8c;
    text-decoration: none;
}

.header Link:hover {
  outline:none;
color: #00bc8c;
  text-decoration: none;
}

.header h3 {
  text-decoration: none;
  display: inline-block;
  color: #00bc8c;
}

.header h3 Link:hover {
  outline:none;
  color: #00bc8c;
}
